.center{
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-style{
    margin-right: 470px;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btnInsert{
    background-color: #303030;
    margin-bottom: 30px;
}

.BtnPosition{
    margin-right: 150px;
}

.imgStyle{
    width: 90px;
    margin-right: 500px;
}